
AB_COOPERATING_SYSTEMS : abinst-V3-5-1-5
AB_DISPLAY_NAME @ abinst-V3-5-1-5 : V3-5-1-5
AB_DESCRIPTION @ abinst-V3-5-1-5 : Use V3-5-1-5 installation as run Co>Operating System
AB_HOME @ abinst-V3-5-1-5 : /opt/abinitio/abinitio-V3-5-1-5

AB_CLIENT_SERVICES_HOME : /opt/abinitio/abinitio-V3-5-1-5


# Key server information
AB_KEYSERVER_GROUPS : CIOX01
AB_KEYSERVER_URLS @ CIOX01: abks://use1aphsdpscm01.aws.cioxhealth.com:6150