export AB_HOME=/opt/abinitio/ab-run-time
export AB_APPLICATION_HUB=/opt/abinitio/abinitio-app-hub/
export AB_AIR_ROOT=//use1aphsdpscm01.aws.cioxhealth.com/opt/abinitio/eme/aieme
export JAVA_HOME={{ java_home }}
export PATH=$AB_HOME/bin:$JAVA_HOME/bin:$PATH